/* Fonte Open Sans com três variações importadas do Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

/* Elementos globais que alteram as propriedades da página toda */
* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

/* Elementos no desktop e em telas com largura >= 600px*/
body {
    background-color: #FFFFFF;
}
    header {
        background-color: #5271FF;
        padding: 1rem 2rem;
        display: flex;
            justify-content: space-between;
            align-items: center;
    }
        #headertitle {
            display: flex;
                justify-content: space-between;
                align-items: center;
        }
            .headerlogo {
                width: 22px;
                height: 22px;
            }
            .headerdescription {
                color: #FFFFFF;
                margin-left: 5px;
                font-weight: 500;
            }
        #headermenu {
            background-color: none;
        }
            .headerbutton {
                display: none;
            }
            .links {
                color: #FFFFFF;
                text-decoration: none;
                margin-left: 1rem;
            }
                .links:hover {
                    font-weight: bold;
                    transition-duration: 0.3s;
                }
            .headericons {
                display: none;
            }
    
    
    main {
        background-color: none;
    }        
        #maincontent {
            background-color: none;
            padding: 8rem 2rem;
            display: flex;
                justify-content: center;
        }
            .main {
                background-color: none;
                margin-right: 30px;
                padding: 4.5rem 5px;
            }
            .maintitle {
                font-weight: 500;
                font-size: 60px;
            }
            .maindescription {
                margin-top: 2px;
                font-weight: 300;
                font-size: 25px;
            }

        #mainlinks {
            background-color: #5271FF;
            padding: 1rem;
            border-radius: 1rem;
        }
            .mainlinkstitle {
                color: #FFFFFF;
                font-weight: 500;
                font-size: 30px;
                align-items: center;
                text-align: center;
            }
            .mainlinksdescription {
                color: #FFFFFF;
                text-align: center;
                font-weight: 500;
                font-size: 18px;
                margin-bottom: 20px;
            }
            .mainlinksbutton {
                color: #FFFFFF;
                text-decoration: none;
                display: block;
                text-align: center;
                margin-top: 10px;
                padding: 5px;
                border: solid;
                    border-radius: 1rem;
                    border-width: 1px;
            }
                    .mainlinksbutton:hover {
                        color: #333333;
                        transition-duration: 0.3s;
                    }
                .mlbtitle {
                    font-weight: 500;
                    font-size: 25px;
                }
                .mlbdescription {
                    font-weight: 300;
                    font-size: 22px;
                    margin: 0 20px;
                }

        #about {
            margin: 2rem 2rem;
            display: flex;
                justify-content: space-between;
                align-items: center;
        }
            .aboutbox {
                background-color: #F5F5F5;
                padding: 1rem;
                margin: 1rem 1rem;
                border-radius: 5px;
            }
            .boxtitle {
                font-weight: bold;
                font-size: 20px;
                margin: 0 0 10px 0;
            }
            .boxdescription {
                text-align: justify;
            }

    footer {
        padding: 1rem 2rem;
        background-color: #333333;
        font-size: 12px;
        display: flex;
            justify-content: space-between;
            align-items: center;
    }
        #footertext {
            color: #FFFFFF;
        }
        #footerlinks {
            background-color: none;
        }
            .flinks {
                color: #FFFFFF;
                text-decoration: none;
                font-size: 12px;
            }
                .flinks:hover {
                    font-weight: bold;
                    transition-duration: 0.3s;
                }
                
            
    /* Elementos com telas < 900px */
    @media screen and (max-width: 900px) {
    header {
        padding: 1rem;
    }
        #headermenu {
            background-color: none;
        }
            .headerlinks {
                display: none;
            }
            .headericons {
                display: flex;
                    justify-content: space-between;
                    align-items: center;
            }
             .icons {
                width: 22px;
                height: 22px;
                color: #FFFFFF;
                margin-left: 30px;
             }
        

    main {
        background-color: none;    
    }         
        #maincontent {
            padding: 0 1rem;
            display: block;
        }
            .main {
                margin: 0 0 10px 0;
                padding: 6rem 1rem;
            }
            .maintitle {
                text-align: center;
                font-size: 60px;
                line-height: 1;
            }
            .maindescription {
                margin-top: 20px;
                text-align: center;
                font-size: 20px;
            }

        #mainlinks {
            background-color: none;

        }
            .mainlinksdescription {
                font-size: 16px;
            }
            .mainlinksbutton {
                background-color: none;
            }
                .mlbtitle {
                    background-color: none;
                }
                .mlbdescription {
                    font-size: 18px;
                    margin: 0 5px;
                }
        
        #about {
            display: block;
            margin: 2rem 0;
        }
            .boxtitle {
                text-align: center;
            }
            .boxdescription {
                text-align: center;
            }

    footer {
        padding: 1rem 1rem;
    }
    }